// Blocks
.block-media-text {
  width: 85%;
  padding: 10px 50px;
  display: flex;
  margin: auto;
  background-color: #f8f9fa!important;
  border-radius: 21px;
  box-shadow: 0 0.125rem .25rem rgba(0,0,0,.075)!important;

  @media (max-width: 425px) {
    width: 100%;
    display: grid;
    margin: auto;
  }
}

.block-separator{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #7a7a7a;
  height: 1px;
  background-color: #ccc;
}

.block-table{
  td{
    border: 3px solid #eaeaea;
    font-size: 16px;
    padding: 5px;
  }

  table{
    width: 80%;
    margin: auto;
    background-color: transparent;
    text-align: center;
  }
}

.wp-block-cover p:not(.has-text-color){
  font-size:  46px;
}

.wp-block-button {
  margin: 20px 0;
}

.wp-block-button__link {
  background-color: orange;
  border: none;
  border-radius: 0;
  width: 70%;
}

// Node
.node__content{
  width: 80%;
  margin: auto;

  p{
    font: 500 14px/1.6 "Lato",Verdana,sans-serif;
    margin: 25px 0 25px;
  }

  .heading4 {
    margin: 25px 0;
  }

  li {
    font: 400 14px/1.6 "Lato",Verdana,sans-serif;
  }

  h3 {
    font: 500 23px/1.6 "Hind",Verdana,sans-serif;
    color: #1e3046;
  }

  ul{
    padding-left: 40px;
  }
}

// Region
.region.region-content {
  width: 80%;
  margin: auto;
}

// Misc elements
#page-title {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

span{
  .flex-next:before{
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f002';
  }
  .flex-prev:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
  }
}

.text-left {
  text-align: left;
  margin: auto 5px auto auto;
}

// Carousel
.carousel{
  width: 60%;
  margin: auto;
}
div.carousel-inner{
  width: 60%;
  height: 300px;
  margin: auto;
  >.item>a>img, div.carousel-inner>.item>img{
    width: auto;
    margin: auto;
    height: 300px;
    object-fit: scale-down;
  }
}

