//HTML
html {
  -webkit-font-smoothing: antialiased;
}

//View fields
.views-field-field-product-affiliate-link {
  a {
    position: relative;
    color: #fff;
    display: block !important;
    width: 100% !important;
    text-shadow: none !important;
    line-height: 22px !important;
    font-size: 17px !important;
    border: 1px solid #333;
    background: #333;
    margin: 5px 0 15px !important;
    border-radius: 25px;
    padding: 13px 0 12px !important;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    color: #fff !important;
    background: #000 !important;
    transition: 1s;
    transform: scale(1.1);
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
}

.views-field.views-field-name {
  padding: 20px 0 15px 0;
  @media (min-width: 425px) {
      height: 100px;
  }
  a{
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
}

.views-field-nothing {
  text-align: center;
  .field-content {
    display: inline-flex;
  }
}

.field-content{
  img {
    max-width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    @media (max-width: 425px) {
      height: 220px;
    }
  }
}

//Exposed filters
form#views-exposed-form-anvelope-page-1{
  .form-item-name input{
    width: 100%;
  }
  .form-actions input{
    width: 100%;
  }
}

//Price
.views-field-field-discount {
  background: #e52822;
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px;
  position: absolute;
  top: 100px;
  left: 13px;
  z-index: 2;
  @media (max-width: 1024px) {
      top: 116px;
  }
}
.old_price {
  text-decoration: line-through;
  margin: 10px 0 10px 10px;
  font-size: 16px;
}

.new_price, .regular_price {
  margin: 10px;
  font-size: 25px;
  color: #FB5A02;
}

.currency {
  align-self: center;
}

//Misc
.dialog-off-canvas-main-canvas .container{
  width: 95%;
}
.col-sm-10.col-md-10.col-lg-10.views-view-grid.horizontal.cols-3.clearfix{
  margin-bottom: 35px;
}

// Front Page
/*Flex slider mobile*/
.path-frontpage .flex-viewport {
  @media (min-width: 768px) {
    max-height: 300px;
  }
}

.path-frontpage .slider-caption {
  @media (min-width: 768px) {
    top: 23px;
    left: 0;
  }
}
.path-frontpage .flexslider .slider-caption {
  display: block;
  @media (max-width: 767px) {
      bottom: -28%;
  }
}

.path-taxonomy .layout__region--third img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
